body {
  background-color: rgb(134, 71, 71);
  font: 100 1.313em/1.38 Raleway;
  color: rgb(0, 0, 0);
}

.about button {
  height: 50px;
  background-color: rgb(227, 79, 77);
  color: rgb(255, 253, 251);
}

.container button {
  display: block;
  position: absolute;
  top: 0;
  font-size: 0.762em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
}

.departure button {
  display: block;
  position: absolute;
  top: 43px;
  width: 17.0502983802%;
  height: 35px;
  background-color: rgb(222, 222, 222);
  font-size: 0.762em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.header button {
  display: block;
  position: relative;
  float: left;
  line-height: 1.38;
  text-align: left;
  color: rgb(255, 255, 255);
}

.headerdepartures button {
  display: block;
  position: absolute;
  top: 27px;
  right: 0;
  z-index: 61;
  width: 92px;
  height: 36px;
  background-color: rgb(255, 255, 255);
  font-size: 0.762em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.headerroutes button {
  display: block;
  position: absolute;
  top: 27px;
  right: 0;
  z-index: 58;
  width: 92px;
  height: 36px;
  background-color: rgb(255, 255, 255);
  font-size: 0.762em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.loginprompt button {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  width: 59.9744245524%;
  height: 62px;
  margin: -7px 0 0 -1.41068%;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(134, 71, 71);
  font-size: 0.762em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.loginprompt button:hover {
  background-color: rgb(227, 168, 77);
}

.loginprompt button:active {
  border-color: rgb(227, 168, 77);
  background-color: rgb(255, 253, 251);
  color: rgb(29, 39, 43);
}

.loginprompt button:focus {
  border-color: rgb(227, 168, 77);
  color: rgb(227, 168, 77);
}

.pmstops button {
  line-height: 1.38;
}

.selectfromlistmodal button {
  height: 47px;
  background-color: rgb(222, 222, 222);
  color: rgb(0, 0, 0);
}

.stop button {
  position: absolute;
  font-size: 0.762em;
  text-align: center;
  color: rgb(0, 0, 0);
}

button {
  border-radius: 3px;
}

div img {
  float: left;
  clear: both;
  width: 163px;
  margin: 9086px 0 0 81.47416%;
}

img {
  display: block;
  height: auto;
  overflow: hidden;
}

select {
  display: block;
  position: absolute;
  top: 154px;
  left: 25.3439465408%;
  z-index: 64;
  width: 48.7421383647%;
  height: 98px;
  padding-left: 10px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 3px;
  background: url('../images/select-arrows.svg') rgb(242, 242, 242);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: right center;
  font-size: 0.762em;
  font-weight: 500;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.about p,
.setuproutes p {
  margin-bottom: 1em;
}

.about {
  display: none;
  position: absolute;
  top: 102px;
  left: 9.2529711375%;
  z-index: 56;
  width: 81.4940577249%;
  height: 382px;
  overflow: scroll;
}

.about .container {
  position: relative;
  float: left;
  z-index: 55;
  width: 100%;
  height: 49px;
}

.about .text {
  position: relative;
  float: left;
  z-index: 52;
  width: 99.8745294855%;
  font-size: 1em;
  line-height: 1.38;
}

.aboutradbus {
  display: block;
  position: absolute;
  top: 20px;
  right: 1.7%;
  z-index: 57;
  width: 12.2241086587%;
  height: 39px;
  background-color: rgb(255, 255, 255);
  font-size: 0.762em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.addstop {
  display: block;
  position: absolute;
  top: 156px;
  height: 35px;
  border: 1px solid rgb(227, 168, 77);
  background-color: rgba(255, 253, 251, 0.53);
  font-size: 0.762em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.am {
  position: absolute;
  top: 81px;
  left: 9.0366581415%;
  z-index: 17;
  width: 9.0366581415%;
  height: 35px;
  border-radius: 3px;
  font-size: 0.952em;
  font-weight: 500;
  line-height: 1.88;
  text-align: center;
  color: rgb(0, 0, 0);
}

.amdirection {
  position: absolute;
  top: 118px;
  left: 9.0366581415%;
  z-index: 16;
  width: 9.0366581415%;
  height: 35px;
  border-radius: 3px;
  font-size: 0.762em;
  font-weight: 500;
  line-height: 2.28;
  text-align: center;
  color: rgb(0, 0, 0);
}

.amstops {
  position: absolute;
  top: 76px;
  left: 18.073316283%;
  z-index: 14;
  width: 26.1722080136%;
  height: 80px;
  overflow: scroll;
}

.amstops .removestop {
  top: 3px;
  z-index: 12;
}

.amstops .stop {
  position: relative;
  float: left;
  width: 100.0394726454%;
  height: 40px;
  margin-left: -0.03563%;
  border-bottom: 1px solid rgb(227, 168, 77);
}

.amstops .stopname {
  z-index: 11;
}

.background {
  position: fixed;
  top: -653px;
  left: -22.0807291667%;
  width: 1720px;
}

.bus-detail {
  position: absolute;
  top: 66px;
  left: 167px;
  z-index: 38;
  font-size: 0.762em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.bus-location {
  right: 11.3046142369%;
  z-index: 45;
}

.busstopsign {
  position: fixed;
  top: 14px;
  left: -0.3658854167%;
  z-index: 9;
  width: 17.1666666666%;
}

.cancelroute {
  display: none;
  position: absolute;
  top: 199px;
  left: 64.6019820971%;
  z-index: 28;
  width: 144px;
  height: 44px;
  border: 1px solid rgb(77, 187, 227);
  background-color: rgb(255, 255, 255);
  font-size: 0.762em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.chosenroutes {
  position: relative;
  float: left;
  z-index: 31;
  width: 100%;
  height: 330px;
  overflow: scroll;
}

.departure {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 118px;
}

.departure .bus {
  position: absolute;
  top: 29px;
  left: 167px;
  z-index: 41;
  width: 16.0744934798%;
  font-size: 1.048em;
  font-weight: 600;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.departure .stop {
  position: absolute;
  top: 29px;
  left: 311px;
  z-index: 43;
  width: 18.6115330742%;
  font-size: 1.048em;
  font-weight: 600;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.departure-background {
  position: relative;
  float: left;
  z-index: 37;
  width: 99.8995320307%;
  height: 118px;
  border-bottom: 1px solid rgb(227, 168, 77);
  background-color: rgba(255, 255, 255, 0.7);
}

.departure-directions {
  right: 32.1739130434%;
  z-index: 44;
}

.departures {
  position: absolute;
  top: 84px;
  left: 0.2546689303%;
  z-index: 48;
  width: 99.5755517826%;
  height: 454px;
  overflow: scroll;
}

.doneroute {
  display: none;
  position: absolute;
  top: 199px;
  right: 2.251172208%;
  z-index: 27;
  width: 226px;
  height: 44px;
  border: 2px solid rgb(227, 168, 77);
  background-color: rgb(255, 255, 255);
  font-size: 0.762em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.gettingdepartures {
  position: absolute;
  top: 18px;
  left: 106px;
  z-index: 47;
  width: 54.0494458653%;
  min-height: 35px;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.header {
  position: fixed;
  top: 324px;
  left: 10%;
  z-index: 8;
  width: 40.8333333333%;
  height: 104px;
}

.headerbar {
  position: relative;
  float: left;
  z-index: 49;
  width: 99.5755517826%;
  height: 347px;
  margin: -263px 0 0 0.25467%;
  border-bottom: 2px solid rgb(227, 79, 77);
  background-color: rgb(222, 222, 222);
}

.headerdepartures {
  position: absolute;
  top: 0;
  left: 23.1069609507%;
  z-index: 63;
  width: 33.0220713073%;
  height: 83px;
}

.headerdepartures .text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 62;
  width: 61.3271208226%;
  min-height: 41px;
  font-size: 1.952em;
  font-weight: 900;
  line-height: 2.08;
}

.headerroutes {
  position: absolute;
  top: 0;
  left: 23.089983022%;
  z-index: 60;
  width: 33.0220713073%;
  height: 85px;
}

.headerroutes .text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 59;
  width: 127.0358306188%;
  min-height: 41px;
  font-size: 1.952em;
  font-weight: 900;
  line-height: 2.08;
}

.list {
  position: relative;
  float: left;
  z-index: 34;
  width: 100%;
  height: 468px;
}

.loading {
  position: fixed;
  top: 463px;
  left: 23.5833333333%;
  z-index: 2;
  width: 32.4166666666%;
  height: 36px;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 253, 251);
}

.loginprompt {
  position: fixed;
  top: 464px;
  left: 28.8333333333%;
  z-index: 5;
  width: 42.3333333333%;
  padding: 7px;
  border-radius: 8px;
}

.manageroutesbutton {
  display: block;
  position: absolute;
  top: 20px;
  left: 1.6977928692%;
  z-index: 50;
  width: 163px;
  height: 39px;
  background-color: rgb(255, 255, 255);
  font: 400 0.762em/1.38 Helvetica;
  text-align: center;
  color: rgb(0, 0, 0);
}

.nodepartures {
  position: absolute;
  top: 18px;
  left: 106px;
  z-index: 36;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.pm {
  position: absolute;
  top: 81px;
  left: 55.5666560102%;
  z-index: 24;
  width: 9.0366581415%;
  height: 35px;
  border-radius: 3px;
  font-size: 0.952em;
  font-weight: 500;
  line-height: 1.88;
  text-align: center;
  color: rgb(0, 0, 0);
}

.pmdirection {
  position: absolute;
  top: 116px;
  left: 55.5839727195%;
  z-index: 23;
  width: 9.0366581415%;
  height: 35px;
  border-radius: 3px;
  font-size: 0.762em;
  font-weight: 500;
  line-height: 2.28;
  text-align: center;
  color: rgb(0, 0, 0);
}

.pmstops {
  position: absolute;
  top: 76px;
  left: 64.7058823529%;
  z-index: 21;
  width: 26.1722080136%;
  height: 80px;
  overflow: scroll;
}

.pmstops .removestop {
  top: 4px;
  z-index: 19;
}

.pmstops .stop {
  position: relative;
  float: left;
  width: 100.0394726454%;
  height: 40px;
  margin-left: -0.03563%;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.pmstops .stopname {
  z-index: 18;
}

.refresh {
  display: block;
  position: absolute;
  top: 20px;
  left: 1.6977928692%;
  z-index: 51;
  width: 19.1850594227%;
  height: 39px;
  background-color: rgb(255, 253, 251);
  font-size: 0.762em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.removeroute {
  display: none;
  position: absolute;
  top: 15px;
  right: 2.1659207161%;
  z-index: 26;
  width: 144px;
  height: 44px;
  border: 2px solid rgb(227, 79, 77);
  background-color: rgb(255, 255, 255);
  font-size: 0.762em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.removestop {
  display: none;
  left: 238px;
  width: 62px;
  height: 35px;
  background-color: rgb(222, 222, 222);
  font-family: Helvetica;
  font-weight: 400;
  line-height: 1.38;
}

.route {
  position: relative;
  float: left;
  width: 100%;
  min-height: 210px;
  padding-bottom: 250px;
  border-bottom: 1px solid rgb(77, 187, 227);
  background-color: rgba(255, 255, 255, 0.7);
}

.routedetail {
  position: absolute;
  left: 0;
  z-index: 29;
  width: 100%;
}

.routename {
  display: block;
  position: absolute;
  top: 0;
  left: 9.0366581415%;
  z-index: 25;
  width: 81.841432225%;
  height: 77px;
  font-size: 0.952em;
  font-weight: 900;
  line-height: 1.38;
  text-align: left;
  color: rgb(0, 0, 0);
}

.routes {
  position: absolute;
  top: 86px;
  left: 0.2546689303%;
  z-index: 33;
  width: 99.5755517826%;
  height: 450px;
  overflow: visible;
}

.routes .text {
  position: absolute;
  top: 16px;
  left: 9.1219096334%;
  z-index: 32;
  min-height: 46px;
  font-size: 1em;
  line-height: 1.38;
}

.screens {
  position: fixed;
  top: 0;
  left: 0.6666666666%;
  z-index: 69;
  width: 98.6666666666%;
  height: 576px;
  border-right: 3px solid rgb(227, 168, 77);
  border-bottom: 3px solid rgb(227, 168, 77);
  border-left: 3px solid rgb(227, 168, 77);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
}

.selectfromlistaddbutton {
  left: 52.3285323489%;
  z-index: 65;
  width: 47.575887413%;
}

.selectfromlistcancelbutton {
  left: 0;
  z-index: 66;
  width: 30.3154147852%;
}

.selectfromlistmodal {
  display: none;
  position: relative;
  float: left;
  z-index: 68;
  width: 100%;
  height: 100px;
  min-height: 538px;
  background-color: rgba(255, 253, 251, 0.8);
}

.selectfromlistmodal .container {
  position: absolute;
  top: 273px;
  left: 25.3455843815%;
  z-index: 67;
  width: 49.6937237945%;
  height: 47px;
}

.setuproutes {
  position: absolute;
  top: 18px;
  left: 9.0366581415%;
  z-index: 35;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.stop-detail {
  position: absolute;
  top: 66px;
  left: 311px;
  z-index: 40;
  font-size: 0.762em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.stopname {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(255, 253, 251);
  font-weight: 200;
  line-height: 1.28;
}

.text {
  color: rgb(0, 0, 0);
}

.time {
  position: absolute;
  top: 29px;
  left: 16px;
  z-index: 42;
  width: 20.4738700704%;
  font-size: 1.048em;
  font-weight: 600;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.time-label {
  position: absolute;
  top: 66px;
  left: 16px;
  z-index: 39;
  font-size: 0.762em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.loginprompt ._text {
  position: relative;
  float: left;
  z-index: 3;
  width: 59.8465473145%;
  height: 42px;
  margin: -7px 0 0 -1.41068%;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  color: rgb(66, 65, 67);
}

.addstop-1 {
  left: 64.7058823529%;
  z-index: 22;
  width: 26.1722080136%;
}

.addstop-2 {
  left: 18.073316283%;
  z-index: 15;
  width: 26.2574595055%;
}

.bus-2 {
  position: fixed;
  top: 19px;
  left: 49.5494791666%;
  z-index: 1;
  width: 483px;
}

.container ._button-1 {
  right: 0;
  z-index: 54;
  width: 40%;
}

.container ._button-2 {
  left: 0;
  z-index: 53;
  width: 39.9988163112%;
}

.header ._button-3 {
  z-index: 6;
  width: 56.3768115942%;
  height: 88px;
  font-size: 2.381em;
  font-weight: 900;
}

.header ._button-4 {
  clear: both;
  z-index: 7;
  width: 100%;
  height: 42px;
  margin-top: -26px;
  font-family: Arvo;
  font-size: 0.762em;
  font-weight: 400;
}

.setuproutes a {
  font-weight: 800;
}

.setuproutes span {
  font-weight: 800;
  text-transform: inherit;
}

@media(max-width: 900px) {
  .departure button {
    top: 90px;
    width: 44.0414507772%;
  }

  .header button {
    position: relative;
  }

  .headerdepartures button {
    top: 25px;
    right: 0.1342281879%;
    width: 58px;
    font-size: 0.571em;
  }

  .headerroutes button {
    width: 60px;
    font-size: 0.571em;
  }

  .loginprompt button {
    position: relative;
    z-index: 4;
    margin-left: -1.40966%;
  }

  div img {
    height: auto;
    margin-top: 9037px;
    margin-left: 81.47321%;
  }

  .selectfromlistmodal button,
  div select {
    font-size: 0.571em;
  }

  img {
    height: auto;
  }

  .about .container {
    position: relative;
    z-index: 55;
  }

  .about .text {
    position: relative;
    z-index: 52;
  }

  .amstops .stop,
  .pmstops .stop {
    margin-left: -0.03746%;
  }

  .busstopsign {
    top: 6px;
    left: -3.125%;
    width: 44.0625%;
  }

  .departure .bus {
    top: 10px;
    left: 143px;
    width: 95px;
  }

  .departure .bus-detail {
    top: 46px;
    left: 143px;
  }

  .departure .bus-location {
    right: 1.2953367875%;
  }

  .departure .departure-background {
    position: relative;
    z-index: 37;
    width: 100%;
    height: 129px;
  }

  .departure .departure-directions {
    right: 54.6632124352%;
  }

  .departure .stop {
    top: 9px;
    left: 223px;
    width: 25.6832266585%;
    text-align: right;
  }

  .departure .stop-detail {
    top: 46px;
    left: auto;
    right: 5px;
    width: 41.2882251346%;
    text-align: right;
  }

  .departure .time {
    top: 9px;
    left: 6px;
    width: 30.0518134715%;
  }

  .departure .time-label {
    top: 46px;
    left: 6px;
  }

  .departures .departure {
    clear: none;
    height: 130px;
  }

  .departures .list {
    position: relative;
    z-index: 34;
  }

  .departures .gettingdepartures,
  .departures .nodepartures {
    left: 27px;
  }

  .header {
    top: 432px;
    width: 79.6875%;
  }

  .headerroutes .text {
    width: 80%;
  }

  .loading {
    top: 277px;
    left: 10.3125%;
  }

  .loginprompt {
    top: 278px;
    left: 10.9375%;
    width: 151.5625%;
  }

  .routedetail .addstop {
    top: 183px;
    width: 48%;
    font-size: 0.571em;
  }

  .routedetail .am {
    top: 97px;
    left: 1.251456655%;
  }

  .routedetail .amdirection {
    top: 134px;
    left: 1.251456655%;
  }

  .routedetail .amstops {
    top: 103px;
    left: 10.3815169478%;
    width: 38%;
  }

  .routedetail .cancelroute {
    left: 55.7784871054%;
    width: 131px;
  }

  .routedetail .doneroute {
    right: 48.9588083295%;
    width: 154px;
  }

  .routedetail .pm {
    top: 98px;
    left: 51.6745199371%;
  }

  .routedetail .pmdirection {
    top: 133px;
    left: 51.6897198155%;
  }

  .routedetail .pmstops {
    top: 103px;
    left: 60.8147134822%;
    width: 38%;
  }

  .routedetail .removeroute {
    top: 4px;
    right: 1.0741247403%;
    width: 80px;
  }

  .routes .chosenroutes {
    position: relative;
    z-index: 31;
  }

  .screens {
    top: 6px;
    left: 0;
  }

  .screens .about {
    top: 151px;
    left: 9.1836734693%;
    width: 81.5192743764%;
    height: 475px;
  }

  .screens .aboutradbus {
    top: 77px;
    right: 1.8222177378%;
    width: 41.973564726%;
  }

  .screens .departures {
    top: 135px;
    left: 0.3457425424%;
    width: 99.3165554394%;
    height: 418px;
  }

  .screens .headerbar {
    position: relative;
    z-index: 49;
    width: 99.5464852607%;
    height: 396px;
    margin-left: 0.22676%;
  }

  .screens .headerdepartures {
    top: 1px;
    left: 1.5740086772%;
    width: 96.2163252951%;
  }

  .screens .headerroutes {
    left: 1.896882252%;
    width: 96.5391988699%;
  }

  .screens .manageroutesbutton {
    top: 77px;
    left: 1.896882252%;
  }

  .screens .refresh {
    top: 77px;
    left: 1.5740086772%;
    width: 41.0049440016%;
  }

  .screens .routes {
    top: 135px;
    left: 0.3457425424%;
    width: 99.5738522151%;
    height: 425px;
  }

  .screens .selectfromlistmodal {
    position: relative;
    z-index: 68;
  }

  .stop .removestop {
    left: auto;
    right: 0;
  }

  .loginprompt ._text {
    position: relative;
    z-index: 3;
    margin-left: -1.40966%;
  }

  .routedetail .addstop-1 {
    left: 50.8486598773%;
  }

  .routedetail .addstop-2 {
    left: 1.5351877184%;
  }

  .header ._button-3 {
    z-index: 6;
  }

  .header ._button-4 {
    z-index: 7;
  }
}